<section class="header-main">
  <header>
    <nav>
      <img src="favicon.ico" alt="icon" />

      <h2>{{nameCompany}}</h2>

      <!-- Generación de Navegación -->
      <ul>
        <li *ngFor="let item of LinksNav">
          <a href="#">
            <i class="{{ item.icon }}"></i>
            {{ item.name }}
          </a>
        </li>
      </ul>

      <!-- Generación de social Redes -->
      <ul class="socialRed">
        <li *ngFor="let i of LinkSocial">
          <div>
            <i class="{{ i.icon }}"></i>
          </div>
        </li>
      </ul>
    </nav>
  </header>
</section>
