<section class="header-main">
  <header>
    <nav>
      <img src="favicon.ico" alt="icon" />
      <h2>NOMBRE HERE</h2>
      <ul>
        <li><a href="#">Nav Bar 1</a></li>
        <li><a href="#">Nav Bar 2</a></li>
        <li><a href="#">Nav Bar 3</a></li>
        <li><a href="#">Nav Bar 4</a></li>
      </ul>
      <div class="socialRed">
        <a href="#"><i class="uil uil-facebook-f"></i></a>
        <a href="#"><i class="uil uil-instagram"></i></a>
        <a href="#"><i class="uil uil-youtube"></i></a>
      </div>
    </nav>
  </header>
</section>
