.img_logo {
  width: 3rem;
}

.propertieslogo {
  margin-right: 3rem;
}

.navegacion_main:hover{
  cursor: pointer;
  color: blueviolet;
  text-shadow: 1px 1px white;
}

.navegacion_main {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  justify-content: center;
}

.navegacion_main p {
  display: flex;
  font-size: 1.3rem;
  font-weight: bold;
  padding-left: 1rem;
}

.navegacion_main span {
  font-size: 1.5rem;
}
