
<section class="main_home">
  <figure>
    <img src="/assets/product.jpg" alt="producto">
  </figure>
  <div class="container_main">
    <h3> Los Mejores Productos <br> Artesanales Hechos Con Amor </h3>
    <article>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus facilis voluptas enim ullam placeat nemo
        voluptatem repellendus cumque, at in? Voluptatem beatae accusantium distinctio cumque eligendi ea molestias
        eius accusamus!</p>
    </article>
  </div>
</section>
