<div class="container">

  <div class="row">

    <div class="col" style="background:aqua">
      Column
    </div>
    <div class="col" style="background:rgb(137, 54, 175)">
      Column
    </div>
    <div class="col" style="background:rgb(54, 168, 73)">
      Column
    </div>
    <div class="col" style="background:rgb(184, 18, 156)">
      Column
    </div>

  </div>
  <div class="row">
    <div class="col-sm-8 col-lg-9 col-xl-6" style="background:rgb(36, 22, 235)">
      <h3>Hola gente</h3>
    </div>

    <div class="col-sm-4 col-lg-3 col-xl-6" style="background:rgb(73, 226, 12)">
      <h3>Hola programadores</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga, exercitationem obcaecati non unde aspernatur
        illum nesciunt earum, officiis dolorem fugiat quibusdam repudiandae rem asperiores magnam suscipit! Optio nulla
        quis nisi.</p>
    </div>
  </div>

</div> <!-- fin  Container -->
