#products {
  width: auto;
  height: 99vh;
  background-color: rgb(100, 144, 226);
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;

}

h3{
  margin-bottom: 3rem;
  margin-top: 3rem;
}

p{
  margin-top: 1rem;
}
